
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Магазин</h2>
    <h4>Магазин займається виготовленням та продажем друкованих плат.</h4>
</div>