
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h1>Контакти</h1>
    <h2>E-mail: example@gmail.com</h2>
    <h2>Телефон: +38-067-35-43-184</h2>
    <h3>29014, м.Хмельницький, Україна</h3>
</div>
