
@{
    ViewBag.Title = "Готово";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Дякуємо!</h2>
<p>Дякуємо за вибір нашого магазину. Замовлення в найкоротші терміни буде відправлене в службу доставки.</p>
